# itk-version: 3.1.0
version: "3"

services:
  phpfpm:
    depends_on:
      - redis

  nginx:
    networks:
      - app
      - frontend
    depends_on:
      - phpfpm
      - engine

  engine:
    user: '1042'
    image: node:18-alpine
    restart: unless-stopped
    networks:
      - app
      - frontend
    working_dir: /app
    environment:
      - NODE_ENV=production
      - npm_config_cache=/app/.npm
    volumes:
      - ./engine:/app
    command: npm run prod

  logstash:
    image: docker.elastic.co/logstash/logstash:7.9.1
    restart: unless-stopped
    networks:
      - app
    volumes:
      - ./.docker/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - ./.docker/jvm.options:/usr/share/logstash/config/jvm.options:ro
      - .docker/pipeline:/usr/share/logstash/pipeline:ro

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    networks:
      - app

  memcached:
    image: memcached:latest
    restart: unless-stopped
    networks:
      - app
    environment:
      - MEMCACHED_CACHE_SIZE=64

  frontend:
    user: '1042'
    image: node:18
    networks:
      - app
    working_dir: /app
    environment:
      - NODE_ENV=prod
      - CYPRESS_CACHE_FOLDER=/app/.cypress
      - npm_config_cache=/app/.npm
    volumes:
      - .:/app
