.banner {
    // Display & position
    display: -webkit-box;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid $grey-border;

    // Text
    user-select: none;

    // Color
    background-color: $neutral-dark;
    color: $font-color;

    .header {
        font-size: 1rem;
        font-weight: 700;
    }

    .title {
        font-weight: bold;
    }

    .author {
        font-weight: normal;
        font-size: .8em;
    }

    .text {
        &:before {
            content: '\00a0-\00a0';
        }
    }

    &.danger {
        // Color
        background-color: $danger;
        border-color: $danger;
        color: $white;
    }

    &.success {
        // Color
        background-color: $success-light;
        border-color: $success-border;
    }

    &.warning {
        // Color
        background-color: $warning;
        border-color: $warning-border;
    }

    >.icon {
        // Display & position
        display: flex;
        align-items: center;
        margin-right: 5px;

        // Text
        font-size: 15px;
        user-select: none;
    }
}

.book-banner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    border: 1px solid $grey-border;

    // Text
    user-select: none;

    // Color
    background-color: $neutral-lighter;
    color: $font-color;

    .header {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .author {
        font-weight: 300;
    }

    &.danger {
        // Color
        background-color: $danger;
        border-color: $danger;
        color: $white;
    }

    &.success {
        // Color
        background-color: $success-light;
        border-color: $success-border;
    }
}

.overdue-books-banner {
    border-radius: 2px;
    border: 1px solid $grey-border;
    user-select: none;
    background-color: $neutral-dark;
    color: $font-color;
    margin: 5px 0;
    padding: 5px 10px 0 10px;

    .items {
        line-height: 1.25;
    }

    .header {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .author {
        font-weight: 300;
    }

    &.danger {
        background-color: $danger;
        border-color: $danger;
        color: $white;
    }
}

.banner-list-header {
    // Display & position
    display: inline-flex;

    // Text
    user-select: none;
    font-size: 1rem;

    >.counter {
        // Display & position
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin-left: 5px;

        // Color
        color: white;
        background-color: $status-color;
    }
}

@keyframes banner-spinner {
    to {
        transform: rotate(360deg);
    }
}

.fa-spinner {
    animation: banner-spinner 5s linear infinite;
}

@media print {
    .banner {
        display: none;
    }
    .visibe-on-print {
        display: -webkit-box;
        border: 0;

        .header {
            display: flex;
        }
    }
}

