
@mixin bubble-button($color: $success, $font-size: 2rem) {
        // Display & position
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;

        // Text
        font-size: $font-size;

        // Color
        background-color: $white;

        // Shadow
        @include box-shadow();

    // Color
    background-color: $color;

    .icon {
        // Color
        color: $color;
    }
}

.bubble {
    // Mixin
    @include bubble-button();




    &.status {
        // Mixin
        @include bubble-button($status-color, $font-size: 2.5rem);
    }

    &.status.disabled {
        // Mixin
        @include bubble-button($neutral, $font-size: 2.5rem);
    }

    &.checkinitems {
        // Mixin
        @include bubble-button($check-in-items-color, $font-size: 2.5rem);
    }

    &.checkoutitems {
        // Mixin
        @include bubble-button($check-out-items-color, $font-size: 2.5rem);
    }

    .inner-bubble {
        // Display & position
        width: 90%;
        height: 0;
        padding-bottom: 90%;
        border-radius: 50%;
        margin: 5%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        // Text
        user-select: none;
        font-weight: bold;
        color: $font-color;

        // Color
        background-color: $white;

        .text-and-icon {
            // Display & position
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            margin-top: 25%;
            width: 90%;

            // Text
            text-align: center;
            user-select: none;
        }
    }
}
