@mixin navbar-button($color: $check-in-items-color, $font-color) {
    // Display & position
    min-width: 150px;
    padding: 10px;
    cursor: pointer;

    // Color
    color: $font-color;
    background-color: $color;
    min-height: 90px;

    span {
        display: flex;
    }
}

button {
    // Display & position
    display: flex;
    align-items: center;

    // Text
    font-size: 1rem;
    user-select: none;
    border: none;

    // Color
    color: $white;
    background-color: $neutral-dark;

    &.print {
        // Color
        background-color: $success;
        width: 100%;
        height: 40px;
        span {
            display: flex;
        }
    }

    &.check-out-items {
        // Mixin
        @include navbar-button($check-out-items-color, $black);
    }
    &.check-in-items {
        // Mixin
        @include navbar-button($check-in-items-color, $white);
    }
    &.logout {
        // Mixin
        @include navbar-button($danger, $white);
        position: relative;
        justify-content: flex-end;
        padding: 0 0 0 10px;
        min-width: 240px;
        .button-barcode {
            border: 10px solid $white;
            display: flex;
            width: 200px;
            height: 90px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('images/logout-barcode.png');
            margin-right: 0px;
        }

        span {
            left: 10px;
            background-color: $danger;
            min-width: 60px;
            position: absolute;
        }
    }

    &.status {
        // Mixin
        @include navbar-button($status-color, $white);
    }

    &.offline {
        // Mixin
        @include navbar-button($neutral, $white);
    }

    &.stop-session {
        // Mixin
        @include navbar-button($session, $stop-session-font);
    }

    &.start-session {
        // Mixin
        @include navbar-button($success, $black);
    }

    &.login-method {
        // Mixin
        @include navbar-button($neutral-dark, $white);
    }

    span{
    >.icon {
        margin: 0 5px;
    }
}
}
