
.button {
    color: $white;
    margin: 1%;
    border-radius: 3%;
    width: 20%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    padding: 1%;
    
    &.green {
        border: 1px solid $green-border;
        background-color: $green;
        width: 100%;
        margin: 5% 0 0 0;
    }
    &.yellow {
        border: 1px solid $yellow;
        background-color: $yellow;
        color: $font-color;
    }
    &.purple {
        border: 1px solid $purple;
        background-color: $purple;
        color: $white;
    }
    &.red {
        border: 1px solid $red;
        background-color: $red;
        margin-left: 3%;
        color: $white;
    }

    &.blue {
        border: 1px solid $blue;
        background-color: $blue;
        color: $white;
    }

    .icon {
        margin-left: 10px;
    }
}
