.header {
    // Text
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.sub-header {
    // Display & position
    margin-bottom: 5%;
    
    // Text
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

