@import "variables";
.header {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.sub-header {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
}
