.header {
    // Text
    font-size: 1.5rem;
    font-weight: 300;
    user-select: none;
}

.subheader {
    // Display & position
    margin-bottom: 5%;

    // Text
    font-size: 1.5rem;
    font-weight: 700;
    user-select: none;
}

@media print {
    .header, .subheader {
        display: none;
    }
}

