@import "variables";
p {
    font-size: 20px;
}
.help-box {
    background-color: $white;
    border: 1px solid $font-color;
    color: $font-color;
    height: 130px;
    width: 270px;
    padding: 15px;
    margin-left: 130px;
    @include box-shadow();

    .header {
        font-size: 30px;

        .icon-helpbox {
            margin-right: 15px;
        }
    }
}
