.help-box {
    // Display & position
    background-color: $white;
    border: 1px solid $font-color;
    padding: 8%;

    // Color
    color: $font-color;

    // Shadow
    @include box-shadow();

    .header {
        // Text
        font-size: 1.5rem;

        .icon-helpbox {
            // Display & position
            margin-right: 5px;
        }
    }
}
