p {
    font-size: 1rem;
}
.help-box {
    background-color: $white;
    border: 1px solid $font-color;
    color: $font-color;
    padding: 8%;
    @include box-shadow();

    .header {
        font-size: 1.5rem;

        .icon-helpbox {
            margin-right: 15px;
        }
    }
}
