@import "variables.scss";
.header-icon {
    height: 100px;
    width: 100px;
    background-color: $green;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-right: 30px;
    @include box-shadow();

    &.yellow {
        background-color: $yellow;
    }

    &.blue {
        background-color: $blue;
    }

    &.purple {
        background-color: $purple;
    }
}
