@import "bootstrap";
@import "variables";
@import "banner";
@import "barcode";
@import "bubble";
@import "button";
@import "content";
@import "header";
@import "help-box";
@import "icon-bubble";
@import "input";
@import "navbar";
@import "numpad";

html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
    // Text
    font-size: 1rem;
}

h1 {
    // Display & position
    margin-bottom: 5%;
    // Color
    color: $font-color;

    // Text
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.container {
    // Display & position
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 70%;
    margin: 0 auto;

    &:after {
        // Dislay & position
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    
        // Image
        content: "";
        background: url("images/books.jpg");
        background-size: cover;

    }
}
