@import "bootstrap";
@import "variables";
@import "banner";
@import "button";
@import "header";
@import "help-box";
@import "icon-bubble";
@import "initial";
@import "input";
@import "login";
@import "navbar";
@import "numpad";

html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 70%;
    margin: 0 auto;
    &:after {
        content: "";
        background: url("images/books.jpg");
        background-size: cover;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}
