.content {
    font-size: 100px;
    padding:15%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $font-color;
    margin-right: 10%;
    @include box-shadow();
}

.content-with-numpad {
    margin-right: 10%;
    margin: 0 15%;
}

