.navbar {
    background-color: $white;
    min-height: 80px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.initial {
        background-color: transparent;
    }
    .text-container {
        width: 30%;
        > .text {
            color: $font-color;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
            margin-left: 5%;
        }

        > .bold {
            font-weight: 700;
        }
    }

    .button-container {
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }
}
