.num-pad {
    // Display & position
    margin-top: 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 0% 5%;

    .button-numpad {
        // Display & position
        display: flex;
        justify-content: center;
        margin-top: 5%;
        border-radius: 40px;

        // Color
        background-color: $white;
        color: $font-color;

        // Text
        font-size: 2rem;
        user-select: none;

        // Shadow
        @include box-shadow(3px, 3px, 6px, 1px, rgba(0, 0, 0, 0.4));

        &.green {
            // Color
            border: 2px solid $success;
            font-size: 1.5rem;
            align-items: center;
        }

        &.red {
            // Color
            border: 2px solid $danger;
            font-size: 1.5rem;
            align-items: center;
        }
    }
    .icon {
        font-size: 1.5rem;
        margin: 0.4rem;
    }
}

@media print {
    .num-pad {
        display:none;
    }
}
