.num-pad {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 0% 5%;
    .button-numpad {
        margin-top: 5%;
        background-color: $white;
        border-radius: 40px;
        color: $font-color;
        font-size: 2rem;
        justify-content: center;
        display: flex;
        font-family: "Roboto", sans-serif;
        @include box-shadow(3px, 3px, 6px, 1px, rgba(0, 0, 0, 0.4));
    }
}
