.num-pad {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    width: 450px;
    grid-gap: 18px;

    .button-numpad {
        background-color: $white;
        height: 60px;
        width: 120px;
        border-radius: 40px;
        color: $font-color;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: "Roboto", sans-serif;
        @include box-shadow(3px, 3px, 6px, 1px, rgba(0, 0, 0, 0.4));
    }
}
