// Main colors
$session: #025935;
$stop-session-font: #FFA928;
$check-out-items-color: #dce00c;
$check-in-items-color: #ce05d2;
$status-color: #006cd0;

// Danger/success
$danger: #e94343;
$success: #04c373;

// Shades
$white: #fff;
$neutral-lightest: #f8f8ff;
$neutral-lighter: #dedede;
$neutral: #ebebeb;
$neutral-dark: #555555;
$neutral-darkest: #1e1e1e;

// Applied
$background-color: $neutral-lightest;
$font-color: $neutral-darkest;
$success-light: lighten($success, 10%);
$success-border: darken($success, 10%);
$danger-border: darken($danger, 10%);
$grey-border: $neutral-lighter;

@mixin box-shadow($top: 0px, $left: 0px, $blur: 20px, $size: 1px, $color: rgba(0, 0, 0, 0.3)) {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
}
